

  <div class= "form-horizontal">
<%= form_for @valentine do |f| %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :title%>
<%= f.text_field :title %>&nbsp;&nbsp;
<%= f.label :message %>
<%= f.text_field :message %> <!--text-area-->
<%= f.submit "Send Valentine!", class: "btn btn-danger button"%>
<% end %>

</div>
